{% extends 'layout.html' %}
{% block title %} Go To the First Floor {% endblock title %}
{% block body %}
<h1> 탑 앞 </h1>
<br/>
<p> 눈 앞에 굉장히 높은 탑이 보인다. </p>
<p> 너비는 약 50m, 높이는 구름에 가려 보이지 않는다.</p>
<p> 돌로 된 벽면에는 세월의 흔적이 묻어나왔다. </p>
<br/>
<p> 왠지모르게 익숙한 느낌이 든다. </p>
<p> 과거에 어디선가 보았는지 </p>
<p> 아니면 꿈 속에서라도 본 적이 있는지 </p>
<p> 뭔가 이미지가 뇌 어디엔가에 남아있는 느낌이다. </p>
<br/>
<p> 탑 앞에는 내 키의 두배 정도 되는 높이의 철 재질의 문이 있다.</p>
<p> 문 자체는 밀어도 꿈쩍도 하지 않지만 </p>
<p> 조금만 노력하면 들어갈 수 있을 만큼 살짝 열려있다. </p>
<br/>
<p> 마치 탑이 나를 초대하고 있는 듯 하다. </p>
{% endblock body %}